/* .container-input {
    position: relative;
}

.input {
    width: 150px;
    padding: 10px 0px 10px 40px;
    border-radius: 9999px;
    border: solid 1px #333;
    transition: all 0.2s ease-in-out;
    outline: none;
    opacity: 0.8;
}
.nav-item dropdown {
    height: 50px;
    width: 20px;
    margin-right: 50px;
}

.container-input svg {
    position: absolute;
    top: 40%;
    left: 10px;
    transform: translate(0, -50%);
    margin-top: 12px;
}

.input:focus {
    opacity: 1;
    width: 250px;
} */

.container-input {
    width: 220px;
    position: relative;
}

.icon {
    position: absolute;
    right: 10px;
    top: calc(50% + 5px);
    transform: translateY(calc(-50% - 5px));
}

.input {
    width: 100%;
    height: 40px;
    padding: 10px;
    transition: 0.2s linear;
    border: 2.5px solid black;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.input:focus {
    outline: none;
    border: 0.5px solid black;
    box-shadow: -5px -5px 0px black;
}

.input-container:hover > .icon {
    animation: anim 1s linear infinite;
}

@keyframes anim {
    0%,
    100% {
        transform: translateY(calc(-50% - 5px)) scale(1);
    }

    50% {
        transform: translateY(calc(-50% - 5px)) scale(1.1);
    }
}

.nav-item a {
    font-size: 16px;
    font-weight: bold;
    font-family: sans-serif;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.carousel-item img {
    width: 200px;
    height: 250px;
    margin-top: 150px;
    margin-bottom: 30px;
}
.container-input input {
    margin-top: 30px;
    margin-right: -25px;
}
.container-input {
    margin-right: -5px;
    margin-left: 20px;
}
.nav-item-barang a {
    font-size: medium;
    font-family: sans-serif;
    margin-right: 30px;
    margin-left: 40px;
    margin-bottom: 20px;
    margin-top: 30px;
    color: rgb(49, 49, 49);
    display: inline-block;
    place-items: center;
}
.image img {
    width: 220px;
    height: 243px;
}
.deskripsi p {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
.parent {
    display: grid;
    place-items: center;
}
.deskripsi button {
    display: inline-block;
    background: #000000;
    color: #fff;
    width: 113px;
    height: 39px;
    border-radius: 5px;
    border: thin solid #888;
    box-shadow: 1px 1px 1px grey;
    white-space: nowrap;
    font-size: 16px;
    font-weight: normal;
    font-family: "Roboto", sans-serif;
    margin: 2rem 0;
}
.parents {
    display: grid;
    place-items: center;
}
.judul-post h5 {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    font-weight: bold;
}
.harga-produk h5 {
    font-size: 16px;
    margin-top: 20px;
}
.content button {
    display: inline-block;
    background: #000000;
    color: #fff;
    width: 113px;
    height: 39px;
    border-radius: 5px;
    border: thin solid #888;
    box-shadow: 1px 1px 1px grey;
    white-space: nowrap;
    font-size: 16px;
    font-weight: normal;
    font-family: "Roboto", sans-serif;
    margin: 2rem 0;
}
/* card sneakers */
.sneakers .card {
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    border-top: 0;
    width: 214px;
    height: 261px;
    margin-bottom: 80px;
}
.sneakers .card img {
    width: 208px;
    height: 185px;
}
.sneakers .button {
    margin-top: 10px;
    margin-right: 55px;
    margin-left: 55px;
    position: relative;
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px solid #ff1e00;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: transparent;
    color: #ff1e00;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.sneakers .card button:hover {
    background: #f5f7f8;
    box-shadow: 0 0 30px 5px #ff1e00;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.sneakers .card button:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
}

.sneakers .card button::before {
    content: "";
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #e8f9fd;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
}

@keyframes sh02 {
    from {
        opacity: 0;
        left: 0%;
    }

    50% {
        opacity: 1;
    }

    to {
        opacity: 0;
        left: 100%;
    }
}

.sneakers .card button:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
}

.sneakers .card a {
    text-decoration: none;
}
.sneakers .card p {
    text-align: center;
    font-family: "Abril Fatface", cursive;
    font-size: 16px;
    font-weight: bold;
}
.sneakers .card h5 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
}
/* .container1.card {
    position: relative;
    width: 200px;
    height: 150px;
    background: #333;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 100px;
} */
.container .content h3 {
    margin-top: 200px;
}
/* end card sneakersss */
.content img {
    float: right;
    margin-right: 50px;
    margin-bottom: 500px;
    height: 100px;
    width: 100px;
}
/* Card Trousers */
.trousers .card {
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    border-top: 0;
    width: 214px;
    height: 261px;
}
.trousers h5 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bolder;
}
.trousers p {
    text-align: center;
    font-family: "Abril Fatface", cursive;
    font-size: 16px;
    font-weight: bold;
}
/* end card trousers */

/* card untuk barang bekas  */
.barangbekas .card {
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    border-top: 0;
    width: 214px;
    height: 261px;
}
.barangebkas h5 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bolder;
}
.barangbekas p {
    text-align: center;
    font-family: "Abril Fatface", cursive;
    font-size: 16px;
    font-weight: bold;
}
.barangbekas .card img {
    width: 208px;
    height: 185px;
}
/* end card barang bekas */

.footer {
    background-color: #282626;
    height: 300px;
}
.footer h3 {
    text-align: center;
}
.logo-perusahaan img {
    width: 250px;
    height: 250px;
}
.footer-down {
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    height: 88px;
}
.judul h3 {
    margin-top: 30px;
    text-align: left;
    margin-left: 100px;
    margin-bottom: 20px;
}
